.logo{
	width: 40px;
}

.botonera li{
	display: inline-block;
	margin-left: 8px;
	font-weight: 700;
	font-size: 20px;
}
.botonera li a{

	text-decoration: none;
	font-size: 17px;
    color: black;

}
.botonera li a:hover{
	color: black;
	text-decoration: none;
}

.botonera{
	display: flex;
    justify-content: space-around;
}


header{
	background-color: rgb(248, 161, 0);
	padding-top: 15px;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	z-index: 34242;
    font-family: 'Open Sans', sans-serif;
}

